* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body {
    border: 1px solid orange;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}
.papan {
    border: 1px solid black;
    /* width: 39%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 3em; */
}
.papan div {
    padding: 1em 1.3em;
    font-size: 3rem;
    border: 1px solid green;
}

.box-win {
    background-color: rgba(190, 235, 28, 0.5);
}

.block-click{
    pointer-events: none;
}

.box-mode {
    display: none;
}